*.dwarf
.shards
pwned-password-downloader
pwned-password-downloader-*
pwned-password-downloader.exe
pwned-password-downloader.pdb
dev
dynamic
lib/*
bin/*
pwnedpasswords/*
pwnedpasswords.*.txt
downloader_*
.gen/*
build/*
.crystal-cache/*
